#!/bin/bash

######## USER ##############################
ADF_USER=ferreipa						# your ADF username

######## DEBUGGING #########################
DEBUG="yes"						# whether debugging (e.g. it will set to fail on first error set -e)

######## QOS ###############################
QOS="bbshort"						# which QOS to use (bbdefault, bbshort, bblargemem, bbgpu);
							# if SET_GPU is "yes", this will be ignored and bbgpu will be used

######## GPU ################################
USE_GPU="yes"                                            # whether to use GPU ("yes" or "no")
GPU_TO_USE=p100						# which GPU to use
# Choose GPU according to the codes below:
#     Nvidia Tesla P100:	p100
#     Nvidia Tesla K20: 	k20
#     Nvidia Quadro 5000:	q5000

######## LOG ################################
ERROR_FILE="slurm-%j.err"				# what error file for output

######## ACCOUNT ############################
ACCOUNT=leonarda-muri 					# select account according to your project name

######## PYTHON #############################
USE_PYTHON="yes"
PYTHON_VERSION="3.6.3"					# if undefined, will not laod python modules
PYTHON_MODULES="torch;torchvision"			# load python modules by their names (;-separated) - e.g. "torch;torchvision"

######## NOTIFICATIONS ######################
EMAIL_NOTIFICATION="yes"				# whether to notify user by e-mail (it will notify -all)
